body{
background-color: antiquewhite !important;  
color: #0E0F19 !important;
}

.intro {
  padding: 2em 0em;
  text-align: center;
}

.table-body, td {
  padding: 1em;
  border: 2px solid rgb(90, 69, 42) ;
  background-color: rgb(90, 69, 42) ;
  color: rgb(252, 250, 236);
}

.table-h {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 105%;
}

.button-add {
  float: right;
}

.button-subtract {
  float: left;
}

.button-subtract, .button-add, .button-p {
  padding: 0.07em 0.4em;
  border-radius: 7px;
  margin: 2px;
  background-color: rgb(233, 222, 199);
  border:1.5px solid rgb(95, 74, 33);
  font-style: italic;
}

.button-add:hover{
  background: yellow;
  color: #FFF;
  border: 1.5px solid rgb(230, 235, 183);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.button-subtract:hover{
  background: red;
  color: #FFF;
  border:1.5px solid rgb(235, 169, 169);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.button-p:hover{
  background:rgb(1, 245, 42);
  color: #FFF;
  border: 1.5px solid rgb(183, 235, 188);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

button{
  font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 10px;
}

td, th, tr,table, thead
{
  text-align: center;
}

.cart {
  padding: 1em;
  border: 2px solid rgb(90, 69, 42)  !important;
  background-color: rgb(90, 69, 42)  !important;
  color: rgb(252, 250, 236) !important;
  min-height: 20em; 
  min-width: 29em; 
  margin-top: 2em;
}

.totcost
{
  border-top: solid 2px rgb(37, 24, 5);
  text-align: center;
  align-content: center;
}

.c-table{
  color: aliceblue;
}

.t-cost{
  font-size: 1.2em;
  color: rgb(252, 250, 236) !important;
}

.quantity
{
  font-size: 1.8em;
  color: rgb(252, 250, 236) !important;
}