body{
  font-family:'Times New Roman', Times, serif
    font-style:condensed;
    background: -webkit-radial-gradient(center, ellipse cover,  brown 0%,#8d1788 50%,#472a62 100%); /* Chrome10+,Safari5.1+ */
}

.green:hover{
  background:#03C9A9 !important;
  color:#FFF;
  border:3px solid #03C9A9;
  -webkit-transition:0.4s;
  -moz-transition:0.4s;
  -o-transition:0.4s;
  -ms-transition:0.4s;
  transition:0.4s;
}

.red:hover{
  background:#F62459;
  color:#FFF;
  border:3px solid #F62459;
  -webkit-transition:0.4s;
  -moz-transition:0.4s;
  -o-transition:0.4s;
  -ms-transition:0.4s;
  transition:0.4s;
}

.blue:hover{
  background:#3498DB;
  color:#FFF;
  border:3px solid #3498DB;
  -webkit-transition:0.4s;
  -moz-transition:0.4s;
  -o-transition:0.4s;
  -ms-transition:0.4s;
  transition:0.4s;
}

.purple:hover{
  background:#663399;
  color:#FFF;
  border:3px solid #663399;
  -webkit-transition:0.4s;
  -moz-transition:0.4s;
  -o-transition:0.4s;
  -ms-transition:0.4s;
  transition:0.4s;
}

button{
    float:left;
    list-style:none;
    text-decoration:none;
    font:700 10px monospace;
    padding:0px 4px 0px 4px;
    border:3px solid #999faf;
    color:#999faf;
    display:inline-block;
    text-transform:uppercase;
    letter-spacing:2px;
    margin-right:10px;
    position:relative;
    text-align: center;
    align-self: center;
}

td
{
  text-align: center;
}
th
{
  text-align: center;
}

tr {
  text-align: center;
}

.table thead th
{
  text-align: center;
}
table {
  text-align: center;
}

#totcost
{
  border-top: solid 2px;
  text-align: center;
  align-content: center;
}

#totalCost
{
  font: monospace;
  color: #663399;
  font-size: 1.3em;
}

.table tbody tr td
{
  padding-top: 1em;
  margin-top: 2em;
}

.noOfProducts
{
  font-size: 1.3em;
  color: purple;
}